.todoItem{
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Firefox */
    -moz-box-sizing: border-box; 	/* Safari */
    // 各item之间间隔5px
    margin-top: 5px;
    box-shadow:0 0 3px #eee;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgb(204, 237, 252);
    padding: {
        left: 10px;
        right: 10px;
    };
    // flex布局
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //设置边框圆角
    border-radius: 5px;
    // 鼠标经过时背景色变色
    &:hover{
        background: rgb(125, 187, 238);
    }
    .checkbox{
        margin-top: 8px;
    }
    .itemText{
        margin-left: 5px;
        font-size: 13px;
    }
    .deleteBtn{
        // 让删除按钮垂直居中
        margin-top: 5px;
        border-radius: 5px;
        cursor: pointer;
        width: 40px;
        height: 20px;
        font-size: 6px;
        color: white;
        background: #ff4949;
        border: 0;
        &:focus{
           outline: none;
        }
    }
}